<h1>UserCategories#index</h1>
<p>Find me in app/views/user_categories/index.html.erb</p>

<h1>Liste des catégories d'utilisateurs</h1>




<div class="container d-flex">
  <div class="categories">transport</div>
  <div class="categories">alimentation</div>
</div>

<%= link_to "", actions_path() %>
