.achievements-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.achievement {
  margin: 10px;
  text-align: center;
  background-color: rgb(49, 39, 27);
  padding: 10px;
  border-radius: 7px;
}

.achievement-icon {
  text-align: center;
  display: inline-block;
}

.user-header {
  display: flex;
  align-items: center;
}

.user-header h2 {
  margin-right: 10px;
}

.selected-icon img {
  width: 50px;
  height: 50px;
}
