.custom-card-custom-action-card {
  margin: 5px;
  width: 40vw;
  height: 30vh;
  border: 1px solid black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.5); /* Add this line to set the background color */
}

.white-area {
  height: 20vh;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center;
}

.custom-card-custom-action-card:hover {
  transform: scale(1.02);
}

.custom-card-title {
  // background-color: black;
  color: white;
  padding: 10px;
  display: flex;
  align-items: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 10vh;
}

.cards-action-index {
  padding: 2.5px 2.5px 2.5px 2.5px;
}

.custom-card-icon {
  text-align: center;
  padding: 10px;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center;
}

.card-icon a {
  text-decoration: none;
  color: inherit;
}
