/* Add a margin of 5px between cards */
.custom-card-custom-action-card {
  margin: 5px;
  height: 30vh;
  border: 1px solid black;
  border-radius: 10px;
}

.custom-card-custom-action-card:hover {
  transform: scale(1.05);
}

.custom-card-title {
  background-color: black;
  color: white;
  padding: 10px;
  display: flex;
  align-items: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 10vh;
}

.cards-action-index {
  padding: 2.5px 2.5px 2.5px 2.5px;
}

.custom-card-icon {
  text-align: center;
  padding: 10px;
}

.card-icon a {
  text-decoration: none;
  color: inherit;
}
