// Specific CSS for your home-page
.logo-large{

  width: 100;
  height: 100;
}

// laprogress bar
.progress-bar {
  width: 100%;
  background-color: #ccc;
  height: 20px;
  border-radius: 10px;
  overflow: hidden;
}

.progress {
  background-color: #33cc33; /* Green color */
  height: 100%;
}
