// Specific CSS for your home-page
.logo-large{

  width: 100;
  height: 100;
}

.progress-bar {
  width: 100%;
  background-color: #ccc;
  height: 20px;
  border-radius: 10px;
  overflow: hidden;
}

.progress {
  background-color: #9b74ce;
  height: 100%;
}

.bar-margin{
  margin-top: 10px;
}



// .back-color {
//   background-color: rgb(42, 145, 230);
//   // opacity:
//   }
