// .form-group {
//   display: inline-block;
//   padding: 10px;
//   background-color: rgba(255, 255, 255, 0.2);
//   font-family: $body-font;

//   border-radius:5px;
// }

.conv-form{
  background-color: rgba(255, 255, 255, 0.2);
  font-family: $body-font;
  border-radius:5px;

}
