<h1>Rewards#new</h1>
<p>Find me in app/views/rewards/new.html.erb</p>

<!-- app/views/icon_selection/new.html.erb -->

<h1>Choose Your Icon</h1>
<%= form_tag update_icons_path, method: :patch do %>
  <% @completed_actions.each do |action| %>
    <div class="icon-selection">
      <%= check_box_tag "selected_action_ids[]", action.id %>
      <%= image_tag("achievements/#{action.icon}", alt: action.name) %>
    </div>
  <% end %>
  <%= submit_tag "Confirm Selection" %>
<% end %>
