<h1>Actions#index</h1>
<p>Find me in app/views/actions/index.html.erb</p>
<%# <%= link_to "details de l'action", action_path(@action)%>

<h1>Challenges From Selected Categories</h1>

<% if @selected_categories.present? %>
  <p>Selected Categories: <%= @selected_categories.map(&:title).join(', ') %></p>
  <ul>
    <% @actions.each do |action| %>
      <li>
        <%= link_to action.name, action_path(action) %> (Category: <%= action.category.title %>)
      </li>
    <% end %>
  </ul>
<% else %>
  <p>No categories selected.</p>
<% end %>
