<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/Sam-lewagonsudent/rails-buildup"><i class="fab fa-github"></i></a>
    <a href="https://nosgestesclimat.fr/"><i class="fa-solid fa-leaf"></i></a>
    <a href="https://impactco2.fr/"><i class="fa-solid fa-cloud-arrow-down"></i></a>
  </div>
</div>
