<head>
<title>Convertisseur de points</title>
<%# <meta charset="utf-8"> %>
<link rel="stylesheet" href="ex.scss">
<script src="convertisseur.js" async></script>
</head>

 <h2>Convertisseur de points:</h2>
 <div class="">
        <div class="custom-card">
            <label>points</label>
            <input  id="points" type="number" placeholder="points">
        </div>
        <div class="custom-card">
            <label>grCO2</label>
            <input   id="grCO2" type="number" placeholder="grCO2">
        </div>
        <div class="custom-card">
            <label>KgCO2</label>
            <input   id="KgCO2" type="number" placeholder="KgCO2">
        </div>
</div>

<%# <%= simple_form_for @model do |f| %>
  <%# <%= f.input :points, label: "Points", input_html: { id: "points", type: "number", placeholder: "points" } %>
  <%# <%= f.input :grCO2, label: "Grammes de CO2", input_html: { id: "grCO2", type: "number", placeholder: "grCO2" } %>
  <%# <%= f.input :KgCO2, label: "Kilogrammes de CO2", input_html: { id: "KgCO2", type: "number", placeholder: "KgCO2" } %>
<%# <% end %>
