<% if current_user.nil? %>
<div class="banner" >
  <div class="container">
        <div class="row justify-content-center">
          <p class="welcome-text">
          </p>
          <%= image_tag "BuildUp2.png", class:"logo-large" %>
        </div>

  </div>
</div>


<% else %>

  <div class="container">
    <div class="row justify-content-center">
      <h2>Salut, <%= current_user.user_name %>!</h2>
      <p>Total de vos points: <%= @total_value %></p>
      
    </div>
  </div>
<p>Total value of completed actions: <%= @total_value %></p>
<%end%>
