.background-dash {
margin-top: 50px;
padding: 0;
background: url('XZJ3.gif') no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
font-family: $body-font;
color: white !important;
}
