body,

html {
    margin-top: 50px;
    padding: 0;
    background: url('Pink-and-Blue-Sky.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body {
  border-top: 150px;
  // background-color: rgb(238, 238, 238);
  // background-image: url('bckgrd.jpg');
  color: rgb(11, 99, 47);
  position:relative;
  min-height: 100%

}
