body,

body {
  // border-top: 50px;
  // // background-color: rgb(238, 238, 238);
  // // background-image: url('bckgrd.jpg');
  // color: white !important;
  // position:relative;
  // min-height: 100%


margin-top: 50px;
padding: 0;
// background: url('treehouse.gif') no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
// font-weight: 200;
font-family: $body-font;
color:rgb(5, 5, 5) !important;




}
// .home-profile{
//   margin-top: 50px;
//   padding: 0;
//   background: url('XZJ3.gif') no-repeat center center fixed;
// -webkit-background-size: cover;
// -moz-background-size: cover;
// -o-background-size: cover;
// background-size: cover;
// font-family: $body-font;
// color:white !important;
// }
