.box-test {
  background-color: rgb(26, 26, 26);
  width: 165px;
  aspect-ratio: 1;
  clip-path: polygon(
    100.00% 50.00%, 90.45% 79.39%, 65.45% 97.55%,
    34.55% 97.55%, 9.55% 79.39%, 0.00% 50.00%,
    9.55% 20.61%, 34.55% 2.45%, 65.45% 2.45%,
    90.45% 20.61%
  );
}

.polygon-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.box-test .svg-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  max-height: 100%;
}

.box-text {
  background-color: rgb(26, 26, 26);
  padding: 7px 10px 7px 10px;

  --mask: radial-gradient(10px at 10px 10px,#0000 98%,#000) -10px -10px;

  -webkit-mask: var(--mask);
          mask: var(--mask);
}

.text-center {
  margin-bottom: 0px !important;
  // margin-left: 10px !important;
}

.box-rank {
  width: 100%;
  color: white;
  background-color: #5ba866;
  padding: 7px 10px 7px 10px;
  clip-path: polygon(0 10.00px,10.00px 0,calc(100% - 10.00px) 0,100% 10.00px,100% calc(100% - 10.00px),calc(100% - 10.00px) 100%,10.00px 100%,0 calc(100% - 10.00px));
}

.box-reward {
  background-color: #3d3d3d;
  width: 150px;
  aspect-ratio: 1;
  clip-path: polygon(
    100.00% 50.00%, 90.45% 79.39%, 65.45% 97.55%,
    34.55% 97.55%, 9.55% 79.39%, 0.00% 50.00%,
    9.55% 20.61%, 34.55% 2.45%, 65.45% 2.45%,
    90.45% 20.61%
  );
}

.box-home {
  background-color: #3d3d3d;
  width: 65px;
  aspect-ratio: 1;
  clip-path: polygon(
    100.00% 50.00%, 90.45% 79.39%, 65.45% 97.55%,
    34.55% 97.55%, 9.55% 79.39%, 0.00% 50.00%,
    9.55% 20.61%, 34.55% 2.45%, 65.45% 2.45%,
    90.45% 20.61%
  );
}



.pattern-home {
  --s: 100px; /* control the size */
  --c1: #a3a3a3;
  --c2: #dbd5d5;

  --_g: var(--c1)        6.25%,var(--c2)  6.3% 18.75%,var(--c1) 18.8% 31.25%,
        var(--c2) 31.3% 43.75%,var(--c1) 43.8% 56.25%,var(--c2) 56.3% 68.75%,#0000 0;
  background:
    radial-gradient(var(--s) at 100% 0   ,var(--_g)),
    radial-gradient(var(--s) at 0    0   ,var(--_g)),
    radial-gradient(var(--s) at 0    100%,var(--_g)),
    radial-gradient(var(--s) at 100% 100%,var(--_g)) var(--c1);
  background-size: var(--s) var(--s);
}

.pattern-ach {
  --s: 18px; /* control the size (the circle diameter) */
  --c1: #fad4df;
  --c2: #46422f;

  --_g: radial-gradient(calc(var(--s)/2),var(--c1) 97%,#0000);
  background:
    var(--_g),var(--_g) calc(2*var(--s)) calc(2*var(--s)),
    repeating-conic-gradient(from 45deg,#0000 0 25%,var(--c2) 0 50%) calc(-.707*var(--s)) calc(-.707*var(--s)),
    repeating-linear-gradient(135deg,var(--c1) calc(var(--s)/-2) calc(var(--s)/2),var(--c2) 0 calc(2.328*var(--s)));
  background-size: calc(4*var(--s)) calc(4*var(--s));
  /*
    0.707 = sqrt(2)/2
    2.328 = 2*sqrt(2) - .5
  */
}
