.btn-custom {
  background-color: rgba(0, 66, 0, 0.322);
}

.back-white {
  background-color: white !important;
}

.back-white:hover {
  background-color: black !important;
}

.btn-categories {
  margin-bottom: 10px !important;
}
