.btn-custom {
  background-color: #579852;
  padding: 10px;
  color: white;
}

.back-white {
  background-color: white !important;
}

.back-white:hover {
  background-color: black !important;
}

.btn-categories {
  margin-bottom: 10px !important;
}
