/* Hide the default checkbox */
.custom-checkbox input[type="checkbox"] {
  display: none;
}

.custom-checkbox label {
  padding: 5px 10px;
  border: 1px ;
  display: inline-block;
  background-color: rgba(100, 100, 100,0.3);
  position: relative;
  cursor: pointer;
  margin: 0 5px;
  transition: background-color 0.3s ease;
  border-radius: 10px;
}

.custom-checkbox input[type="checkbox"]:checked + label {
  border: 1px solid black;
}
