.navbar-lewagon {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  justify-content: space-between;
  background:rgba(12, 160, 49, 0.9);
}

.navbar-lewagon .navbar-collapse {
  position: relative;
  flex-grow: 0;

}

.navbar-lewagon .navbar-brand img {
  width: 40px;

}

.icon-menu {
  display: flex;
  align-items: center;
  padding-left: 20px;
  scale: 1.2;
}

.nav-link {
  padding:0
}

@media (max-width: 600px) {
  .navbar-lewagon {
    display: none;
  }
}

.mobile-nav {
  background: #3b9b48;
  position: fixed;
  bottom: 0;
  height: 65px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  z-index: 1;
}



.bloc-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bloc-icon img {
  width: 20px;
}

@media screen and (min-width: 600px) {
  .mobile-nav {
  display: none;
  }
}
